.body{
    display: flex;
    background-color: antiquewhite;

}
.inputForm{
    background-color: aquamarine;
    width: 600px;
    margin: 10px;
    padding: 10px;

}
input{
    float: right;
    width: 300px;
    background-color: inherit;
    border: none;
}
input:focus{
    outline: none;
}
.inputEle{
    width: 590px;
}